<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RTKeluhanAPP"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminSettings"
            android:exported="false" />
        <activity
            android:name=".AdminProfile"
            android:exported="false" />
        <activity
            android:name=".AdminKerbak"
            android:exported="false" />
        <activity
            android:name=".AdminSiskamling"
            android:exported="false" />
        <activity
            android:name=".AdminKeluhan"
            android:exported="false" />
        <activity
            android:name=".MainKerbak"
            android:exported="false" />
        <activity
            android:name=".MainSiskamling"
            android:exported="false" />
        <activity
            android:name=".MainSettings"
            android:exported="false" />
        <activity
            android:name=".MainProfile"
            android:exported="false" />
        <activity
            android:name=".KeluhanActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".MainActivityUser"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"/>
    </application>

</manifest>